.header {
	width:100%;
	z-index: 1;
	height:40px;
	background-color:#D2B48C ;
	margin-bottom: 40px;
}

.header, h1 {
	color:white;
	text-align: center;
}

.content {
	width:70%;
	margin: auto;
}

.search {
	float:right;
}